body, html {
	background: #2f363c;
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
}
#foursquare {
	width: 100%;
	height: 95px;
	position: relative;
	top: 0;
	left: 0;
}
#foursquare .fs-three {
	float: left;
	width: 33.333%;
	height: 95px;
	border-bottom: 3px solid;
}
#foursquare .mikael {
	border-color: #00b4ff;
}
#foursquare .trucy {
	border-color: #de00ff;
}
#foursquare .joakim {
	border-color: #00ff24;
}
#foursquare .fs-photo {
	margin: 20px;
	float: left;
}
.fs-three h2 {
	font-size: 24px;
	margin: 15px 0 0 0;
	font-weight: 400;
}
.fs-three cite {
	font-size: 13px;
	margin: 0;
	font-weight: 300;
	opacity: 0.75;
	padding: 0 10px 0 0;
}
#main {

}
.nearby {
	background: rgba(255,255,255,0.05);
	padding: 0 20px;
}
#main .grid-three {
	width: 33.333%;
	height: auto;
	min-height: 20px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h3 {
	text-transform: uppercase;
}
.place {
	border: 2px solid #2f363c;
	display: block;
	float: left;
	clear: both;
	width: 100%;
	position: relative;
}
.place .open {
	width: 18px;
	height: 18px;
	background: url(img/open.png) no-repeat;
	margin: 17px;
	float: left;
}
.place .closed {
	width: 18px;
	height: 18px;
	background: url(img/closed.png) no-repeat;
	margin: 17px;
	float: left;
}
.place .closing {
	width: 18px;
	height: 18px;
	background: url(img/closing.png) no-repeat;
	margin: 17px;
	float: left;
}
.place p {
	float: left;
}
.place span {
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 15px;
}
.muni {
	float: left;
	clear: both;
}
.busnumber {
	font-size: 48px;
	float: left;
	padding: 15px 10px;
}
.nextbus {
	font-size: 60px;
	float: left;
	padding: 5px 10px;
}
.laterbuses {
	float: left;
	padding: 0 10px;
}
.laterbuses p.upper {
	margin: 20px 0 0 0;
}
.laterbuses p.under {
	margin: 5px 0 0 0;
}
